h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(32, 32, 32);
    font-size: 28px;
    text-align: left;
  }
  h2{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }